

*{

margin:0;
padding:0;

}



nav{

display: flex;
align-items: center;
justify-content: space-around;
background-color: darkslategray;

}

.nav-menu{

display: flex;
gap:30px;
font-style: italic;

}
li{

list-style-type: none;
font-size: 28px;

}

.banner-container{

height: 100vh;
background-image: url('../asset/image/background.jpg'),
linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4));
background-blend-mode: overlay;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

display: flex;
align-items: center;
justify-content: center;





}

.banner-title{

font-size: 70px;
color: white;


}
.span{
color:red;

}

.banner-desc{

margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
font-size: 25px;
color: white;
}

button{

border:none;
padding:15px;
margin-top: 20px;
cursor: pointer;


}

.btn-primary{
background-color: red;

}

.service-container{

height: 100vh;
background-image: url('../asset/image/main-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
background-blend-mode: overlay;
background-repeat: no-repeat;
background-size: cover;
}


.service-container-2{

display: flex;
justify-content: space-around;
color: white;
text-transform: capitalize;
align-items: center;
padding: 20px;

}

.service-title{

font-size: 45px;


}

.service-desc{

width:50%;

}
.icon{

width:69px;
margin-bottom: 30px;

}

.box{
    text-align: center;
    border-radius: 5px;
    
width:150px;
height: 100px;
padding:50px;
background-color: white;
color: black;
margin-bottom: 15px;
}

.first-two-boxes{

display: flex;
gap:15px;

}

.service-about{
margin-left: 20px;
margin-top: 300px;
display: flex;
gap:30px;
align-items: center;


}

.service-photo{

display: flex;
gap: 20px;
align-items: center;

}

.photo-info{

color:white;
text-transform: capitalize;

}

.appointment-container{

display: flex;
width:80%;
background: red;
margin-top: -20px;
margin-left: 160px;
margin-bottom: 100px;
padding: 50px;

}
.phone-call{

width:50px;


}
.appointment-title{
text-transform: uppercase;
font-size: 25px;

}
.appointment-desc{

text-align: center;
font-size: 23px;

}
.btn-appointment{

background-color: white;
border:none;
border-radius: 15px;
color:black;
margin-bottom: 20px;

}


.blog-container{


background-color:darkgray;
padding:150px;
margin-top: 20px;


}

.blog-desc{

text-align: center;
margin-bottom: 100px;
font-size: 60px;

}

.blog-span{

    color: red;
}
.cards{


display: flex;
gap:60px;
justify-content: center;


}

.card{

width:600px;
height:600px;
box-shadow: 4px 6px 6px gray;

}

.card-photo{

width:100%;
height:250px;

}
.card-title{


font-weight: 700;
font-size: 2.4rem;
margin-top: 10px;

}
.card-desc{
font-size: 1.8rem;


}

.card:hover{

box-shadow: 5px 4px 5px blue;

}


footer{

background-color: black;
color: white;
padding: 120px;

}
.footer-column{


display: flex;
gap:160px;


}

.footer-anchor{

display: flex;
gap: 20px;
flex-direction: column;

}
a{

font-size: 1.2rem;
text-decoration: none;

}
.footer-logo-desc{

font-size: 1.3rem;
margin-top: 10px;

}

.footer-desc{

font-size: 1.6rem;
text-transform: capitalize;
margin-bottom: 30px;
display: flex;


}
li{

    text-transform: capitalize;
}

.solid-hr{

margin-top: 50px;

}
.copyright{
margin-top: 20px;
text-align: center;

}